@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}


body {
  background-color: #141526;
  color:  white;
  font-family: 'Titillium Web', sans-serif;
}

.test-title {
  user-select: none;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.test-start {
  user-select: none;
  text-align: center;
  margin-bottom: 2rem;
}

.start-button {
  cursor: pointer;
  border: .5px solid #2de2d2;
  color: white;
  background-color: #141526;
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 6px;
  transition: .1s;
}

.start-button:hover {
  box-shadow: 0px 0px 15px #2de2d2,
  inset 0px 0px 5px #2de2d2
  ;
}


.question-title {
  border: 1px solid #2de2d2;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.question-main{
  display: flex;
  justify-content: space-between;
}

.question-inputs {
  padding: 1rem 1rem 1rem 2rem;
  font-size: 1.3rem;
  transition: .1s;
}
.question-inputs:hover {
  box-shadow: 0px 0px 25px #2de2d2,
  inset 0px 0px 5px #2de2d2
  ;
}

.question-image {
  border: 2px solid #2de2d2;
  box-shadow: 0px 0px 15px #2de2d2,
  inset 0px 0px 5px #2de2d2
  ;
  width: 400px;
  height: 400px;
}


.questions-button-wrap {
  display: flex;
  justify-content: center;
}

.questions-button {
  cursor: pointer;
  border: .5px solid #2de2d2;
  color: white;
  background-color: #141526;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 6px;
  transition: .1s;

}

.questions-button:hover {
  box-shadow: 0px 0px 15px #2de2d2,
  inset 0px 0px 5px #2de2d2
  ;
}

.lose-time {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;

}

.test-result {
  margin-top: 5rem;
  text-align: center;
  background-color: white;
  color: #141526;
  border: 3px solid red;
}

.result-title {
  font-size: 3rem;
  padding: 0px;
}

.result-count {
  padding: 0px;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.result-button {
  padding: 1rem 2rem;
  font-size: 2rem;
  border: 2px solid #2de2d2;
  border-radius: 6px;
  background-color: #141526;
  color: white;
  transition: .1s;
}

.result-button:hover {
  color: #4ec64c;
  box-shadow: 0px 0px 15px #4ec64c,
  inset 0px 0px 5px #4ec64c
  ;
}

.timer {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 4rem;
  text-align: left;
  transition: .1s;
}
.timer:hover {
  box-shadow: 0px 0px 30px #2de2d2,
  inset 0px 0px 10px #2de2d2
  ;
}
.timer span {
  border-radius: 12px;
  border: 1px solid #2de2d2;
}
.timer span:nth-child(2) {
  border: none;
}